body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.header {
    border-bottom: 1px solid #006175;
    text-align: center;
    
    h1 {
        margin: 0;
        margin-bottom: 0px;
        font-size: 24px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        a {
            padding: 8px 4px;
            text-decoration: none;
            color: #006175;
            font-size: 18px;
        }
    }
}

.client-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border: 1px solid #006175;
    background-color: #f9f9f9;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 8px;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #006175;
}

// Import Atoms
@import 'styles/atoms/button-component.scss';

// Import Molecules
@import 'styles/molecules/client-card.scss';

// Import Organisms
@import 'styles/organisms/client-filter.scss';
@import 'styles/organisms/new-client-form.scss';